/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Custom styles */

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.2;
}

/* Grid */

*::before, *::after, * {
  box-sizing: border-box;
}

.container {
  display:flex;
  flex-flow: row wrap;
}

.header {
  align-items: center;
  display: flex;
  flex: 1 100%;
  justify-content: space-between;
}

.wrapper {
  flex: 2 0;
}

.sidebar {
  flex: 1 0;
}

.header .search {
  align-items: center;
  display: flex;
}

.header .navigation ul {
  display: flex;
}

.wrapper .main-video {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-end;
}

.main-video > * {
  flex: 1 100%;
}

.main-video h4 {
  flex: 1 0;
}

.main-video section {
  flex: 1 0;
}

.main-video h3 {
  order: 2;
}

.main-video h4 {
  order: 3;
}

.main-video section {
  display: flex;
  flex-direction: row-reverse;
  order: 4;
}

.user-actions ul {
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-end;
}

.wrapper .video-desc {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
}

.video-desc .wrapper-desc {
  flex: 1 auto;
}

.comments article {
  display: flex;
  flex-flow: row wrap;
}

.comments section ul {
  display: flex;
}

.sidebar article {
  display: flex;
}

.sidebar .wrapper-sb {
  display: flex;
  flex-flow: row wrap;
  align-content: space-around;
}

.sidebar .wrapper-sb > * {
  flex: 1 100%;
}

/* Styles */

h3 {
  font-size: 18px;
  letter-spacing: 0.7px;
}

h5, .main-video h4 {
  color: rgb(85, 84, 84);
}

button:hover {
  cursor: pointer;
}

.container {
  padding-left: 40px;
  padding-right: 40px;
}

.header {
  margin: 15px 30px;
}

.search {
  border:  1px solid rgb(194 191 191);
  height: 35px;
}

.search input {
  border: none;
  height: 100%;
  margin-right: 1px;
  padding-left: 8px;
  width: 600px;
}

.search input:focus {
  outline: 1px solid blue;
}

.search button {
  border: none;
  padding-left: 20px;
  padding-right: 20px;
  height: 100%;
}

.search button img {
  height: 15px;
}

.navigation img {
  height: 25px;
  margin-right: 20px;
}

.navigation img:hover {
  cursor: pointer;
}

.round-photo {
  background-color: blue;
  border-radius: 50%;
  color: #fff;
  height: 30px;
  width: 30px;
  line-height: 30px;
  text-align: center;
}

.round-photo:hover {
  cursor: pointer;
}

.sidebar img {
  height: 90px;
}

.main-video, .video-desc, .comments {
  margin-right: 15px;
}

.main-video {
  border-bottom: 1px solid gray;
}

.main-video > * {
  margin-bottom: 15px;
}

.user-actions {
  margin-bottom: 0;
}

.user-actions ul > * {
  color: gray;
  margin-right: 10px;
  font-weight: 700;
  text-transform: uppercase;
}

.user-actions img {
  width: 15px;
}

.main-video iframe {
  height: 545px;
  width: 965px;
}

.video-desc .wrapper-desc {
  margin-left: 15px;
  width: 200px;
}

.video-desc {
  margin-top: 15px;
}

.video-desc .wrapper-desc > * {
  margin-bottom: 5px;
}

.video-desc button {
  background-color: red;
  border: none;
  color: #fff;
  padding: 10px 15px;
  font-weight: 700;
  text-transform: uppercase;
}

.comments > * {
  margin-bottom: 18px;
}

.comments .wrapper-com > * {
  margin-left: 10px;
  margin-bottom: 5px;
}

.comments h3 {
  color: rgb(92, 92, 92);
}

.comments img {
  width: 15px;
  margin-right: 10px;
}

.comments .reply {
  color: gray;
  font-weight: 700;
  text-transform: uppercase;
}

.sidebar {
  padding-top: 10px;
}

.sidebar article {
  margin-bottom: 10px;
}

.sidebar div {
  margin-left: 5px;
}

.sidebar div > * {
  font-size: 15px;
}

.sidebar h4 {
  font-weight: 700;
}

.sidebar p {
  color: gray;
}